<div class="container iusm-bg-1">
    <div class="row">
      <div class="col-md-6 col">
        <div class="logo">
          <a href="index.html">
          <img src="assets/csv/logo.svg" class="iusm-logo-revista-svg" alt="Logo Revista">
        </a>
        </div>
        
      </div>
      <div class="col-md-6 col text-end">
        <div class="logo">
          <a href="index.html">
          <img src="assets/csv/iusum-azul.svg" class="iusm-logo-header" alt="Logo Revista">
        </a>
        </div>
        
      </div>
    </div>
  </div>