<div class="container iusm-related-cards w-75 py-5">
    
    <!-- RELATED CARDS -->
    <div class="row row-cols-1 row-cols-md-3 g-5">
      <!-- related title -->
    <div class="iusm-related-title my-md-5 " ></div>
      <div class="col">
        <div class="card">
          <img src="/images/investigacion/related-4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">CORALES DE PROFUNDIDAD</h5>
            <a href="/investigacion/investigacion-4.html" class=" stretched-link"></a>
            </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img src="/images/investigacion/related-5.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">MUJER MARÍTIMA</h5>
            <a href="/investigacion/investigacion-7.html" class=" stretched-link"></a>
            </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img src="/images/investigacion/related-3.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">IUSM INVESTIGA</h5>
            <a href="/investigacion/index.html" class=" stretched-link"></a>
            </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img src="/images/investigacion/related-1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">LOS RÍOS PARANA Y PARAGUAY</h5>
            <a href="/investigacion/investigacion-3.html" class=" stretched-link"></a>
            </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img src="/images/investigacion/related-2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">INVERTEBRADOS</h5>
            <a href="/investigacion/investigacion-5.html" class=" stretched-link"></a>
            </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img src="/images/investigacion/related-6.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">INDICE NACIONAL</h5>
            <a href="/investigacion/investigacion-8.html" class=" stretched-link"></a>
            </div>
        </div>
      </div>
    </div>
    <!-- FIN RELATED CARDS -->

  </div>