<div class="container iusm-nav">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item me-2">
              <a class="nav-link " aria-current="page" href="nosotros/index.html">Nosotros</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Editorial
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="editorial/ed-farinon.html">Prefecto Nacional Naval</a></li>
                <li><a class="dropdown-item" href="editorial/ed-font.html">Rector IUSM</a></li>
                <li><a class="dropdown-item" href="editorial/ed-flombaum.html">Inv. Pedro Flombaum</a></li>
                <li><a class="dropdown-item" href="editorial/ed-bobinac.html">Lic. Magalí A. Bobinac</a></li>


                
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Milla 200
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="milla200/index.html">Introducción - Articulación en el agua</a></li>
                <li><a class="dropdown-item" href="milla200/milla200-1.html">El trabajo con cancillería</a></li>
                <li><a class="dropdown-item" href="milla200/milla200-2.html">Nuestros recursos marinos</a></li>
                <li><a class="dropdown-item" href="milla200/milla200-3.html">Áreas marinas protegidas</a></li>
                <li><a class="dropdown-item" href="milla200/milla200-4.html">Pesca en aguas Argentinas</a></li>
                <li><a class="dropdown-item" href="milla200/milla200-5.html">Patrullaje Milla 200</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="investigacion/index.html" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Investigación
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="investigacion/index.html">Campaña Ana María Gayoso</a></li>
                <li><a class="dropdown-item" href="investigacion/investigacion-1.html">Socioecosistema Fluvial</a></li>
              </ul>
            </li>
            <li class="nav-item ">
              <a class="nav-link" href="hdv/hdv-1.html">Historias de vida</a>
            </li>
            <li class="nav-item dropdown dropdown-menu-dark">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Ediciones
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="./edicion-1">Edicion 1</a></li> 
              </ul>
            </li>
          </ul>
        </div>
      </div>
