<div class="container iusm-related-cards w-75 py-5">
    
    <!-- RELATED CARDS -->
    <div class="row row-cols-1 row-cols-md-3 g-5">
      <!-- related title -->
    <div class="iusm-related-title my-md-5" style="background-image: url('assets/csv/related-title.svg');" ></div>
      <div class="col">
        <div class="card">
          <img src="images/milla200/cancilleria-related.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">TRABAJO CON CANCILLERÍA</h5>
            <a href="milla200/milla200-1.html" class=" stretched-link"></a>
            </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img src="images/milla200/marinos-related.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">NUESTROS RECURSOS MARINOS</h5>
            <a href="milla200/milla200-2.html" class=" stretched-link"></a>
            </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img src="images/milla200/areas-related.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">ÁREAS MARINAS PROTEGIDAS</h5>
            <a href="milla200/milla200-3.html" class=" stretched-link"></a>
            </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img src="images/milla200/pesca-related.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">PESCA EN AGUAS ARGENTINAS</h5>
            <a href="milla200/milla200-4.html" class=" stretched-link"></a>
            </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img src="images/milla200/patrullaje-related.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">PATRULLAJE MILLA200</h5>
            <a href="milla200/milla200-5.html" class=" stretched-link"></a>
            </div>
        </div>
      </div>

      <div class="col">
        <div class="card">
          <img src="images/milla200/intro-related.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">ARTICULACIÓN EN EL AGUA</h5>
            <a href="milla200/index.html" class=" stretched-link"></a>
            </div>
        </div>
      </div>
    </div>
    <!-- FIN RELATED CARDS -->

  </div>